@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://raw.githack.com/mycodes33/my-icon/master/my-icon.css');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    background: #f5f6fa;
}
button:focus, input:focus, textarea:focus {
    outline: none;
}

// Navbar
nav {
    width: 100%;
    line-height: 4rem;
    top: 0;
    background: #f5f6fa;
    position: fixed;
    z-index: 1;

    .mi-menu, .mi-x {
        top: .9rem;
        left: 1rem;
        font-size: 2rem;
        position: absolute;
    }
    p {
        font-size: 1.5rem;
        margin-left: 5rem;
    }
    .mi-bell {
        top: 1.1rem;
        right: 1rem;
        font-size: 1.5rem;
        position: absolute;
    }
}

// Sidebar
.sidebar {
    width: 80%;
    height: 100vh;
    top: 4rem;
    background: #f5f6fa;
    position: fixed;
    z-index: 1;

    div {
        line-height: 3rem;
        position: relative;

        i {
            top: .6rem;
            left: 2rem;
            font-size: 1.7rem;
            position: absolute;
        }
        p {
            font-size: 1.2rem;
            margin-left: 5rem;
        }
    }
    div:nth-child(2), div:nth-child(7) {
        margin-top: 2rem;
    }
}

// Auth
.auth {
    width: 70%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);

    h1 {
        text-align: center;
        margin-bottom: 1.5rem;
    }
    input {
        width: 100%;
        font-size: 1rem;
        background: #f5f6fa;
        border: none;
        border-bottom: .1rem solid #bbb;
        padding: .5rem;
        margin: 1rem 0;
    }
    span {
        color: #e22626;
        font-size: .9rem;
        text-align: center;
        display: block;
    }
    button {
        color: #fff;
        font-size: 1rem;
        font-weight: bold;
        background: #555;
        border: none;
        border-radius: 2rem;
        display: block;
        padding: .7rem 2.5rem;
        margin: 1rem auto 1.5rem;
    }
    .link1 {
        font-size: .9rem;
        position: absolute;
    }
    .link2 {
        right: 0;
        font-size: .9rem;
        position: absolute;
    }
}

// Post List
.post-list {
    margin-top: 5rem;
}

// Post
.post {
    background: #fff;
    position: relative;
    padding: 1rem;
    margin: 1rem 0;

    img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }
    .author {
        top: 1rem;
        left: 5rem;
        font-size: 1.1rem;
        font-weight: bold;
        position: absolute;
    }
    .mi-more-vertical {
        right: 1rem;
        font-size: 1.3rem;
        position: absolute;
    }
    .text {
        margin: 1rem 0;
    }
    .mi-thumbs-up {
        font-size: 1.3rem;
    }
    .mi-message-circle {
        font-size: 1.3rem;
        margin-left: 1rem;
    }
}

// Post Detail
.post-detail {
    background: #fff;
    position: relative;
    padding: 1rem;
    margin: 5rem 1rem 1rem;

    img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }
    .author {
        top: 1rem;
        left: 5rem;
        font-weight: bold;
        position: absolute;
    }
    .text {
        margin: 1rem 0;
    }
}

// Create Post
.create-post {
    padding: 0 1rem;
    margin-top: 5rem;

    textarea {
        width: 100%;
        height: 10rem;
        border-radius: .5rem;
        padding: 1rem;
    }
    button {
        color: #fff;
        font-size: 1rem;
        font-weight: bold;
        background: #555;
        border: none;
        border-radius: .5rem;
        padding: .5rem 1rem;
        margin-top: 1rem;
    }
}

// User List
.user-list {
    margin-top: 5rem;
    span {
        text-align: center;
        display: inline-block;
        padding-bottom: .6rem;
    }
    span:nth-child(1) {
        width: 50%;
    }
    span:nth-child(2) {
        width: 50%;
    }
    .line {
        border-bottom: .2rem solid #bbb;
    }
    .search {
        padding: 1rem;

        input {
            width: 100%;
            color: #555;
            font-size: 1rem;
            border: .05rem solid #bbb;
            border-radius: .5rem;
            padding: .7rem;
        }
    }
}

// User
.user {
    background: #fff;
    position: relative;
    padding: 1rem;
    margin: 1rem;

    img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }
    .username {
        top: 1rem;
        left: 5rem;
        font-size: 1.1rem;
        font-weight: bold;
        position: absolute;
    }
    .bio {
        top: 2.8rem;
        left: 5rem;
        color: #555;
        font-size: .9rem;
        position: absolute;
    }
    .mi-plus {
        right: 1rem;
        color: #fff;
        font-weight: bold;
        background: #555;
        border-radius: 50%;
        position: absolute;
        padding: .3rem;
    }
}

// Profile
.profile {
    margin-top: 5rem;

    img {
        width: 9rem;
        height: 9rem;
        border-radius: 50%;
        display: block;
        margin: auto;
    }
    .username {
        font-size: 1.3rem;
        font-weight: bold;
        text-align: center;
        margin: 1rem 0 .5rem;
    }
    .bio {
        color: #555;
        text-align: center;
    }
    .follow {
        margin-top: 2rem;

        div {
            width: 50%;
            text-align: center;
            display: inline-block;

            span {
                font-size: 1.1rem;
                font-weight: bold;
            }
        }
    }
    .title {
        color: #555;
        margin: 2rem 0 .5rem 1rem;
    }
    .personal {
        background: #fff;
        border-radius: .5rem;
        padding: 1rem;
        margin: 0 1rem;

        li {
            list-style: none;

            p {
                color: #555;
                margin: 0 0 1rem 1rem;
            }
        }
    }
}